.admin-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid white;

  width: 100%;
  padding: 5px 10px;

  color: white;
}

.name {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.role {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.timeAdded {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.addedBy {
  width: 20%;
  text-align: center;
}

.options {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.add-new-user {
  display: block;
  margin-left: auto;
}

label {
  color: rgba(245, 130, 32, 1);
}

.new-user-container {
  display: none;
}
