.admin-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid white;

  width: 100%;
  padding: 5px 10px;

  color: white;
}

.name {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.role {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.timeAdded {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.addedBy {
  width: 20%;
  text-align: center;
}

.options {
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.add-new-user {
  display: block;
  margin-left: auto;
}

label {
  color: rgba(245, 130, 32, 1);
}

.new-user-container {
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  display: none;
  bottom: 0;
  right: 0;
}

.dialog-box {
  width: 50%;
  border: none;
  border-radius: 15px;
  background-color: rgb(243, 242, 243);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  display: none;

  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.close-icon {
  text-align: end;
}

.done-button {
  margin-right: 10px;
  background-color: red;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-button {
  background-color: lightseagreen;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.x-icon {
  font-weight: bold;
  cursor: pointer;
}

.head {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.body {
  text-align: center;
}

#delete-input {
  outline: none;
  border: none;
}

#name-holder {
  width: 100%;
}
