html,
body {
  height: 100%;
  width: 100%;
  background: #444444;
  color: white;
}

h1 {
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  display: none;
  bottom: 0;
  right: 0;
}

.dialog-box {
  width: 50%;
  border: none;
  border-radius: 15px;
  background-color: rgb(243, 242, 243);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  display: none;

  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.close-icon {
  text-align: end;
}

.done-button {
  margin-right: 10px;
  background-color: red;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-button {
  background-color: lightseagreen;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.x-icon {
  font-weight: bold;
  cursor: pointer;
}

.head {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.body {
  text-align: center;
  color: black;
  background-color: white;
}

#delete-input {
  outline: none;
  border: none;
}

#name-holder {
  width: 100%;
  display: flex;
  overflow-y: auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.speaker__container {
  background-color: silver;
  color: white;
  border-radius: 5px;
  padding: 0 5px;
  width: auto;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.speaker__container:not(:first-child) {
  margin-left: 20px;
}

.speaker__container-name {
  width: 10ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.speaker__container-exit {
  color: black;
  margin-left: 4px;
}

.eventMasterHolder {
  padding: 1rem;
}

.singleEvent:not(:first-child) {
  margin-top: 1.5rem;
}

.eventDay:not(:first-child) {
  margin-top: 1.5rem;
}

.breakout-holder {
  width: 100%;
  /* border: 1px solid black; */

  box-sizing: border-box;
}

.heading {
  /* background-color: grey; */
  height: 60px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* .heading::-webkit-scrollbar {
  display: none;
} */

.tab.active {
  background: linear-gradient(to left, lightgreen 50%, lightgrey 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  z-index: 5000;
}

.tab {
  position: relative;
  font-weight: bold;
  background-color: lightgrey;
  color: black;
  height: 90%;
  width: 10ch;
  padding: 0 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black; */
  border-radius: 15px 15px 0 0;
  cursor: pointer;
  /* tab.active */

  background-color: lightgrey !important;
  z-index: 5;
  position: relative;
}

.tab:not(:first-child) {
  margin-left: -5px;
}

.tab::before,
.tab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  box-shadow: -3px 0px 4px 1px rgba(0, 0, 0, 0.3);
  transform: skew(-5deg, -10deg);
  width: 1px;
  height: 60%;
  border-radius: 0;
  display: none;
}

.tab::after {
  left: auto;
  right: 0;
  box-shadow: 3px 1px 4px 1px rgba(0, 0, 0, 0.3);
  transform: skew(5deg, 10deg);
}

.tab::before,
.tab::after {
  z-index: -1;
  display: block;
}

.tab.active:first-child::before {
  display: none;
}

.tab.active:last-child::after {
  display: none;
}

.breakout-hr {
  background-color: lightgrey;
  height: 3px;
}

.page-name {
  color: rgba(245, 130, 32, 1);
}
