html,
body {
  height: 100%;
  width: 100%;
  background-color: black;

  display: grid;
  place-items: center;

  color: white;
}

.content-holder {
  text-align: center;
}

.title {
  /* background: rgb(204,204,204);
background: linear-gradient(0deg, rgba(242, 46, 46,1) 0%, rgba(245,130,32,1) 100%); */
  font-size: 150px;
  font-weight: bold;
  background: -webkit-linear-gradient(
    90deg,
    rgba(242, 46, 46, 1) 0%,
    rgba(245, 130, 32, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.supporting-text {
  font-size: 72px;
  font-weight: bold;
}

p {
  font-size: 50px;
}

.home {
  font-size: 25px;
  color: white;
  font-weight: bold;
  background-color: rgba(245, 130, 32, 1);
  margin: 20px 0;
  transition: 0.6s all linear;
  width: 100px;
}

.home:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
