<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/notFound.css">
  <title>404 Not Found</title>
</head>
<body>
  
  <div class="content-holder">
    <div class="title">404</div>
    <div class="supporting-text">This URL does not exist</div>
    <p>How'd you even get here...Maybe you should go back 😀</p>
    <a class="home" href="/">Home Page</a>
  </div>

</body>
</html>